<nav class="navbar navbar-default navbar-fixed-top" role="navigation" view="toolbar" ></nav>

<div class="container">
    <div id="info-row">
        <div id="alert-area">
            <div class="alert alert-danger errors-panel">
                <dl class="dl-horizontal small">
                    <dt>Hi!</dt>
                    <dd ng-repeat="error in errorList">I'm an error</dd>
                    <dd ng-repeat="error in errorList">I'm another error</dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="edit-page row">
        <div class="container">
            <h4>Contributions for "{{ article.title }}"</h4>
            <div class="contribution form-inline" ng-repeat="contribution in contributions">
                <div class="form-group" >
                    <autocomplete type="text"
                                  class="form-control"
                                  ng-model="contribution.contributor" 
                                  service="AuthorService"
                                  label-attr="get_full_name"
                                  placeholder="Search for author"></autocomplete>

                </div>
            </div>
        </div>
    </div>
</div>