<div class="navbar navbar-default navbar-fixed-top" >
  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <button id="save-article-btn" class="navbar-save btn btn-success btn-sm navbar-btn" href="" ng-click="save()">
          <i class="glyphicon glyphicon-floppy-disk"></i> Save</button></li></ul>
  </div>
</div>


<div class="container">
    <div class="row">
        <div class="container col-xs-12 col-sm-pull-2 col-sm-push-2 col-sm-8 col-md-pull-3 col-md-push-3 col-md-6">
            <div class="contribution panel panel-default" ng-repeat="contribution in contributions">
                <div class="panel-heading">
                    {{ contribution.contributor.getFullName() }} <a class="pull-right">
                        <i class="glyphicon glyphicon-remove text-danger"></i>
                    </a>
                </div>
                <div class="panel-body">
                        <div class="form-group">
                            <autocomplete type="text"
                                ng-model="contribution.contributor"
                                service="AuthorService"
                                label-attr="getFullName"
                                placeholder="Search for author"></autocomplete>
                        </div>
                        <div class="role">
                            <select name="role" class="form-control form-group">
                                <option value="1">Writer</option>
                                <option value="2">Editor</option>
                                <option value="2">Contributor</option>
                            </select>
                            <div class="form-group">
                                <textarea class="form-control" rows="3" placeholder="Notes"></textarea>
                            </div>
                        </div>
                </div>
            </div>

            <div class="form-group pull-right">
                <button class="btn btn-success" ng-click="add()">Add Contributor</button>
            </div>

        </div>
    </div>
</div>